{% extends 'base.html' %}
{% block title %}Customers{% endblock %}
{% block content %}

<a class="btn btn-primary" style="float: right" href="/add/">Add a Customer</a></p>

<h1>Customers</h1>
{% if customers %}
<ul style="column-count: 4">
  {% for customer in customers %}
  <li><a href="/{{ customer.id }}/">{{ customer.fullname() }}</a></li>
  {% endfor %}
</ul>
{% endif %}

{% if topCustomers %} 
<ul style="column-count: 4">
  {% for customer in topCustomers %}
  <li>
    <a href="/{{ customer.id }}/">{{ customer.first_name }} {{ customer.last_name }} </a> Reservations: {{ customer.total_reservations }}
  </li>
  {% endfor %}
</ul>
{% endif %}



{% endblock %}